<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/place.css">
</head>
<body>
    <iframe class="ifr" src="https://en.wikipedia.org/wiki/<%=place%>" frameborder="0"></iframe>
</body>
</html>