<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="../css/register.css">
</head>
<body>
    <div class="w-full min-h-screen  text-white p-10">

        <h1 class="text-3xl tracking-tighter mb-10">Create Account</h1>

        <form method="post" action="/register">
            <input   type="text"  placeholder="name" name="name">
            <input   type="text"  placeholder="username" name="username">
            <input   type="number"  placeholder="age" name="age">
            <input   type="text"  placeholder="email" name="email">
            <input   type="password"  placeholder="password" name="password">


            <input  value="Create Account" type="submit"  placeholder="Create account">
        </form>

        <a href="/">Login</a>
    </div>

   
</body>
</html>