<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/service.css">
</head>
<body >
    <div class="form-container">
        <h1>Bus Booking Form</h1>
        <form action="/book" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required placeholder="Enter your name ">

            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required placeholder="Enter your age ">

            <label for="passengers">Number of Passengers:</label>
            <input type="number" id="passengers" name="passengers" required min="1" placeholder="number of passenger">

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required placeholder="Enter your email">

            <label for="text">Pick up</label>
            <input type="text" placeholder="Enter the pickup point">

            <label for="text">Destination</label>
            <input type="text" placeholder="Enter the destination">

            <button type="submit">Book Now</button>

            
        </form>
    </div>
    
</body>
</html>